.Portfolio {
    margin: 6%;
    margin-top: 4%
}

.SearchAndDisplayStocks {
    margin-left: 10%;
    margin-right: 10%
}

.SideBySideRender {
    display: flex; 
    flex-direction: row
}

.PortfolioAttributes {
    margin-top: 7%

}
.MVPButton {
    margin-top: 12%;
}

.ORPButton {
    margin-top: 12%;
    margin-bottom: 12%
}

.DeleteButton, .AddButton {
    float: right
}

.RandomPortfolioButton {
    margin-top: 3%;
    color: rgb(255, 210, 127);
    background-color: black;
}

.PortfolioStock {
    margin: 3%; 
    padding: 3%;
    color: black
}
  
.SearchBar {
    width: 25rem;  
    background:#F2F1F9;
    border: 2pt; 
    padding:0.7rem; 
    margin: 6%;
    margin-top: 14%
}

.DisplayStock {
    margin: 5%; 
    padding: 3%
}

.CheckBox {
    font-size: large;
    padding-top: 1%;
}

input[type=checkbox] {
    transform: scale(1.6);
}